body {
   font-family: 'Nunito Sans', sans-serif;

   
}

.container {
   max-Width: 1188px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

header {
   border-bottom: 1px solid #E5E5E5;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-logo {
   display: block;
   background-image: url(../image/Logo.svg);
   width: 176px;
   height: 56px;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-nav {
   list-style-type: none;
   display: flex;
   padding-left: 0;
   gap: 46px;
   padding: 24px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
}

.header-nav a:hover {
   color: #FFC725;
}

.header-nav a::after {
   content: "";
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
   background: transparent;
   display: block;
   bottom: 0;
}

.header-nav a.active::after {
   background: #FFC725;
}

.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   padding: 0;
   gap: 10px;
   cursor: pointer;
}

.button-item {
   position: relative;
}

.button-count {
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 1.3;
}

.button-text {
   color: #443737;
   font-weight: 700;
   font-size: 15px;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../image/bg.jpg);
   background-size: cover;
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breardcrumbs {
   padding: 0;
   margin-top: 0;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 16px;
}

.breardcrumbs a {
   color: #DEDEDE;
   font-size: 15px;
   font-family: 'Nunito Sans', sans-serif;
   text-decoration: none;
}

.breardcrumbs a:hover {
   color: #FFC725;
}

.breardcrumbs a::before {
   content: "/";
   position: relative;
   left: -7px;
   pointer-events: none;
}

.breardcrumbs a::before {
   color: #DEDEDE;
}

.breardcrumbs li:first-child a::before {
   display: none;
}

.title {
   font-weight: 700;
   font-size: 79px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.description {
   font-family: 'Open Sans';
   font-size: 15px;
   line-height: 1.5;
   color: #FAF9F9;
   max-width: 320px;
   margin: 0 auto;
}

.banner-box {
   background-image: url(../image/булка\ \(2\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding: 100px;
}

.banner-title {
   font-size: 60px;
   font-weight: 900;
   color: #FFFFFF;
   margin-top: 0;
   margin-bottom: 12px;
}

.banner-text span {
   font-size: 14px;
   font-family: 'Open Sans';
   font-weight: 600;
   text-transform: uppercase;
   background-color: #FBB731;
   border-radius: 14px;
   padding: 5px 0;
   display: block;
   max-width: 96px;
   text-align: center;
   margin-bottom: 9px;
}
.banner-title_span{

   max-width: 95px;
   display: block;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 19px 5px 17px;
}

.banner-text {
   color: #FAF9F9;
   font-size: 15px;
   line-height: 1.6;
   font-family: 'Open Sans';
   max-width: 353px;
   margin-top: 0;
   margin-bottom: 35px;
}

.banner-link {
   font-weight: 700;
   font-size: 14px;
   padding: 20px 27px;
   text-transform: uppercase;
   text-decoration: none;
   color: #1E2F40;
   background-color: #FBB731;
   border-radius: 5px;
}